.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;

  .chat-container {
    min-width: 500px;
    height: 500px;
    background: #b4d2f3;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;

    .chat-video {
      height: 150px;
      aspect-ratio: 16/9;
      resize: vertical;
      overflow: auto;
      background: #1f4165;
    }
  }

  .text-chat-container {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

@media (width < '900px') {
  .container {
    flex-direction: column;
  }
}
